# Ignore all directories in files/ except public/
files/*
!files/*.php
!files/public/
files/public/*
!files/public/welcome.txt

# Ignore font awesome icons
styles/icons/

# Ignore maintenance switch
maintenance/enable
