# ignore user data
data

# ignore font awesome icons
styles/icons/

# ignore composer vendor code
vendor/

# ignore sass map
styles/nz.css.map

# ignore secrets
admin/*_password

# ignore maintenance switch
status/maintenance.enable
