RewriteEngine On
RewriteCond %{REMOTE_ADDR} !127.0.0.1
RewriteCond %{DOCUMENT_ROOT}/status/maintenance.html -f
RewriteCond %{DOCUMENT_ROOT}/status/maintenance.enable -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteCond %{REQUEST_URI} !/media/favicon.gif
RewriteCond %{REQUEST_URI} !/styles/w3.css
RewriteCond %{REQUEST_URI} !/media/engineer-at-work.webp
RewriteRule ^.*$ /status/maintenance.html [R=503,L]
ErrorDocument 503 /status/maintenance.html
Header Set Cache-Control "max-age=0, no-store"
