RewriteEngine On
RewriteCond %{REMOTE_ADDR} !127.0.0.1
RewriteCond %{DOCUMENT_ROOT}/maintenance/index.html -f
RewriteCond %{DOCUMENT_ROOT}/maintenance/enable -f
RewriteCond %{SCRIPT_FILENAME} !index.html
RewriteCond %{REQUEST_URI} !/media/favicon.gif
RewriteCond %{REQUEST_URI} !/styles/w3.css
RewriteCond %{REQUEST_URI} !/media/engineer-at-work.webp
RewriteRule ^.*$ /maintenance/index.html [R=503,L]
ErrorDocument 503 /maintenance/index.html
Header Set Cache-Control "max-age=0, no-store"
