///////////////
// Variables //
///////////////

// Colors

$dark:  #22231c;
$black: #181916;
$white: #ffffff;

//////////////
// Elements //
//////////////

// Input

a {
    text-decoration: none;
}

textarea {
    resize: none;
}
input:focus, textarea:focus {
    outline: none;
}

/////////////
// Classes //
/////////////

// Alignment

.nz-page {
    margin: auto;
    max-width: 960px;
}

.nz-dropdown-left {
    right: 0;
}

// Borders

.nz-round-top {
    border-radius: 4px 4px 0 0;
}
.nz-round-top-left {
    border-radius: 4px 0 0 0;
}
.nz-round-top-right {
    border-radius: 0 4px 0 0;
}
.nz-round-bottom {
    border-radius: 0 0 4px 4px;
}
.nz-round-bottom-left {
    border-radius: 0 0 0 4px;
}
.nz-round-bottom-right {
    border-radius: 0 0 4px 0;
}

// Colors

.nz-dark {
    color: $white;
    background-color: $dark;
}
.nz-text-dark {
    color: $dark;
}

.nz-black {
    color: $white;
    background-color: $black;
}
.nz-text-black {
    color: $black;
}

// Input

.nz-ghost {
    pointer-events: none;
}

.nz-table, .nz-table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}
.nz-table-all {
    border :1px solid $black;
}
.nz-bordered tr, .nz-table-all tr {
    border-bottom: 1px solid $black;
}
.nz-striped tbody tr:nth-child(odd) {
    background-color: $black;
}
.nz-table-all tbody tr:nth-child(odd) {
    background-color:$black;
}
.nz-table td, .nz-table-all td, .nz-table th, .nz-table-all th {
    padding: 16px 24px 16px 24px;
    display: table-cell;
    text-align: left;
}

// Layout

.nz-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
